html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

body::-webkit-scrollbar {
    display: none !important;
}

.font-esthetic {
    font-family: 'Sacramento', cursive !important;
    color: #ffffff !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
    color: #ffffff !important;
}

.img-crop {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.loading-page {
    position: fixed;
    inset: 0 !important;
    width: 100%;
    height: 100%;
    background-color: #01b0cb;
    z-index: 1056 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border: 0.1rem solid #ffffff;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #ffffff;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

.dark-section {
    background-color: #01b0cb !important;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

footer {
    background-color: #01b0cb !important;
    margin-top: -0.5rem;
    padding-bottom: 5rem;
}

/* Timeline */
body{margin-top:20px;}
.history-wrapper {
    position: relative;
    padding: 30px 0 30px;
    /* margin-top: 50px; */
}
.history-wrapper:after {
    content: "";
    width: 3px;
    height: 104%;
    background: #ededed;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.history-wrapper .title-wrap {
    opacity: 0.2;
    padding: 100px 0 0 45px;
}
.history-wrapper .timeline-box {
    position: relative;
}
.one-of-two {
    width: 50%;
    float: left;
}
/* .history-wrapper .timeline-box:not(:last-child) {
    margin-bottom: 140px;
} */
.timeline-box:nth-child(2n) {
    padding: 0 0 0 140px;
}
/* .history-wrapper .timeline-box:nth-child(2n) {
    margin-bottom: 140px;
} */
.history-wrapper .timeline-box:nth-child(2n) {
    margin-top: 31%;
    text-align: left;
}
.timeline-box:nth-child(2n + 1) {
    padding: 0 140px 0 0;
    text-align: right !important;
}
.year {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 30%;
    color: #3b3b3b;
    transform: translateY(-50%);
    border: 1px solid #dbdbdb;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.timeline-box:nth-child(2n) .year {
    left: 25px;
}
.timeline-box:nth-child(2n + 1) .year {
    right: 32px;
}
.year:before {
    content: "";
    width: 15px;
    height: 15px;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}
.timeline-box:nth-child(2n) .year:before {
    left: -8px;
    transform: rotate(45deg);
}
.timeline-box:nth-child(2n + 1) .year:before {
    right: -8px;
    transform: rotate(-135deg);
}
.timeline-box:after {
    content: "";
    width: 3px;
    height: 0;
    background: #ffa200;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):after {
    left: -1.5px;
}
.timeline-box:nth-child(2n + 1):after {
    right: -1.5px;
}
.timeline-box:hover:after {
    height: 97px;
}
.timeline-box:before {
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 5px solid #ededed;
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 30%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):before {
    left: -10.5px;
}
.timeline-box:nth-child(2n + 1):before {
    right: -10.5px;
}
.timeline-box:hover:before {
    border: 5px solid #ffa200;
}
@media screen and (max-width: 2199px) {
    .year {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 22px;
    }
    div.example {
        padding: 0;
        display: none;
      }
}
@media screen and (max-width: 991px) {
    .history-wrapper {
        padding: 30px 0 30px;
    }
    .history-wrapper .title-wrap {
        padding: 0;
        margin-bottom: 30px;
    }
    .title-wrap.one-of-two {
        width: 100%;
    }
    .history-wrapper:after {
        left: 0;
    }
    .history-wrapper .timeline-box:nth-child(2n) {
        padding: 0 0 0 140px;
    }
    .history-wrapper .timeline-box:not(:last-child) {
        margin-bottom: 40px;
    }
    .timeline-box.one-of-two,
    .timeline-box .img img {
        width: 100%;
    }
    .history-wrapper .timeline-box:nth-child(2n) {
        margin-top: 0;
        text-align: right;
    }
    .timeline-box:nth-child(2n + 1) .year {
        left: 32px;
    }
    .timeline-box:nth-child(2n + 1):before {
        left: -10.5px;
    }
    .timeline-box:nth-child(2n + 1) .year:before {
        left: -8px;
        transform: rotate(45deg);
    }
    .timeline-box:nth-child(2n + 1):after {
        left: -1.5px;
    }
    .history-wrapper .timeline-box:nth-child(2n + 1) {
        margin-top: 0;
        text-align: left;
    }
    .timeline-box:nth-child(2n + 1) {
        padding: 0 0 0 140px;
    }
    div.example {
        padding: 0;
        display: none;
      }
   
}
@media screen and (max-width: 750px) {
    .history-wrapper:after,
    .year,
    .timeline-box:before {
        display: none;
    }
    .history-wrapper {
        padding: 0;
    }
    .history-wrapper .timeline-box:nth-child(2n),
    .history-wrapper .timeline-box:nth-child(2n + 1) {
        padding: 0 15px;
        text-align: center !important;
    }
    .history-wrapper .timeline-box:not(:last-child) {
        margin-bottom: 30px;
    }
    .timeline-box .content {
        text-align: center;
    }
    .timeline-box:nth-child(2n):after,
    .timeline-box:nth-child(2n + 1):after {
        display: none;
    }
      div.example {
        display: block;
      } 
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body{

   font-family: 'Maven Pro', sans-serif;

 
}
.wrapper{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#9a48a9;
}



.card{

    height: 180px;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    color: #fff;
    background-image: url(https://i.imgur.com/5rm6bLu.jpg);
    z-index: 5;
    background-size: cover;
    opacity: 1;
    border:none;
    
}


.card::before{

  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 14px;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgb(36 178 171) 0%, rgb(6 216 231) 100%)   ;
  opacity: 0.8;

}



.card::after{

  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 14px;
  background: rgb(57, 225, 247);
  background: linear-gradient(90deg, rgb(86 193 202) 0%, rgb(48 233 255) 100%);
  clip-path: polygon(28% 13%, 48% 45%, 75% 63%, 100% 99%, 0 100%, 0% 60%, 0 0);

}





.upper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.upper h6{

    font-size: 18px;
}

.upper h4{

    font-size: 30px;
    text-transform: uppercase;

}


.lower{

    position: absolute;
    bottom: 20px;
    z-index: 1;
}


.lower-to-right{

    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}


    div.cards::before{

    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgb(36 178 171) 0%, rgb(6 216 231) 100%);
    opacity: 0.8;
  
  }
  
  
  
  div.cards::after{
  
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px;
    background: rgb(57, 225, 247);
    background: linear-gradient(90deg, rgb(86 193 202) 0%, rgb(48 233 255) 100%);
    clip-path: polygon(28% 13%, 48% 45%, 75% 63%, 100% 99%, 0 100%, 0% 60%, 0 0);
  
  }

  div.cards{

    height: 180px;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    color: #fff;
    background-image: url(https://i.imgur.com/5rm6bLu.jpg);
    z-index: 5;
    background-size: cover;
    opacity: 1;
    border:none;
    
}
div.lowers-to-right{

    position: absolute;
    bottom:7px;
    right: 20px;
    z-index: 1;
}

div.lowers{

    position: absolute;
    bottom: 30px;
    z-index: 1;
    margin-right: 10px;
}



  
  